body {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.nysBudget {
    display: block;
}

header {
    text-align: center;
}

.header_title{
    text-align: center;
}

.credit{
    color: #666;
    font-style: italic;
}

.credit a {
    color: #666;
}


.contact ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.contact ul li {
    margin-left: 0.5em;
}

#chart {
    margin: 0 auto;
    max-width: 700px;
    padding: 1em;
}


.tabs_container {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 1em 0 0;
    list-style: none;
    border: 1px solid black;
}




.tabs_container li {
    display: block;
    width: 100%;
    padding: 1em 0.5em;
    text-align: center;
    border-right: 1px solid black;
}

.tabs_container li:last-child {
    border-right: none;
}



#info {
    display: block;
    position: relative;
    overflow: hidden;
}





#sub_tabs {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-top: none;
}

#sub_tabs.active {
    display: flex;
}


#sub_tabs li {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    transition-property: background-color, color;
    transition-duration: .3s;
}

#sub_tabs li:hover {
    color: #fff;
    background-color: #4782b4;
}


#sub_tabs-main,
#sub_tabs-sub {
    width: 50%;
}



#sub_tabs-main{
    border-right: 1px solid #000;
}



.sub_main_title,
.sub_sub_title {
    display: block;
    width: 100%;
    font-size: 1.15em;
    font-weight: 700;
    padding: 1em 2em;
    text-align: center;
    color: #333;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    background: lightskyblue;
    text-transform: uppercase;
}


.sub_sub_title {
    background: lightgoldenrodyellow;
}



#sub_tabs li.active,
.tabs_container li.active {
    color: white;
    background-color: #4782b4;
}



#more_info {
    display: none;
}


#more_info.show {
    display: block;
}


.more_info-btn {
    display: block;
    position: fixed;
    padding: 1em 2em;
    bottom: 10px;
    right: 10px;
    background: lightblue;
    border: 1px solid black;
    outline: none;
    z-index: 20;
}

.more_info-btn.close {
    background: darkred;
    color: white;
}


.more_info-text {
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em;
    top: 0;
    transition: top .3s;
    background: lightgoldenrodyellow;
}



.more_info-text h2,
.more_info-text p {
    display: block;
    max-width: 500px;
    margin: 1em auto;
}


.more_info-text.hide {
    top: 100%;
}

.graphic-bar {
    pointer-events: all;
}

.graphic-bar:hover{
    position: relative;
    fill: darkkhaki;
}



rect:hover span {
    display: block;
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    z-index: 100;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}



@media screen and (min-width: 1000px) {
    body{
        font-size: 14px;
    }

    #info,
    .tabs_container{
        box-sizing: border-box;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

}